.formcontainer {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.formcontainer form {
  max-width: 400px;

  width: 100%;
}

.formcontainer input {
  outline: none;
  display: block;
  width: 100%;
  font-size: 20px;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  border: 0.5px solid lightgray;
}

.duration_container {
  display: flex;
  justify-content: space-between;
}

.duration_mins_or_hours {
  width: 48%;
  display: 40%;
  align-self: center;
  outline: none;
  display: block;
  font-size: 20px;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  border: 0.5px solid lightgray;
}

.duration_time {
  width: 48% !important;
}

.option_container {
  display: flex;
}

.option_input {
  width: 90% !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: none;
}

.option_btn {
  width: 10%;
  align-self: center;
  height: 54.6px;
  border: none;
  border: 0.5px solid lightgray;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add_option_btn_container {
  text-align: right;
}

.add_option_btn {
  background-color: #60dcfb;
  padding: 8px 25px;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.formcontainer_submit_btn {
  width: 100%;
  font-size: 20px;
  background: rgb(29, 21, 172);
  background: linear-gradient(
    47deg,
    #1d15ac 0%,
    rgba(96, 220, 251, 1) 51%,
    #00d4ff 100%
  );
  color: white;
  margin-top: 20px !important;
  border: 1px solid;
  border-radius: 9px;
  padding: 12px !important;
  margin-bottom: 5px;
  cursor: pointer;
}

input[type="submit"]:disabled {
  background: linear-gradient(47deg, gray, grey, grey);
  cursor: not-allowed;
}

.response_error {
  text-align: center;
  color: #af0606;
}
