.navbar_container {
  width: 100%;
  background-color: white;
  border-bottom: 0.7px solid #cacaca;
  padding: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.logo_text {
  font-size: 45px;
  text-align: center;
}

.signin_links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.signup_btn {
  text-decoration: none;
  background-color: #60dcfb;
  padding: 10px;
  color: white;
  border-radius: 5px;
}

.login_btn {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.login_btn:hover {
  color: #60dcfb;
}

.signup_btn:hover {
  background-color: #0488a9;
}

.user {
  background-color: #60dcfb;
  padding: 8px 25px;
  color: white;
  border-radius: 5px;
}
